// ── FOOTER ──
footer {
  background: var(--ink);
  color: #e5e2d3;
  padding: 36px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  border-top: 1px solid #222220;
  background-color: black;
}

.footer-logo {
  font-family: var(--sans);
  font-size: 18px;
  color: #e5e2d3;
}
