header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #edeae242;
  backdrop-filter: blur(45px);
}

.nav-logo {
  opacity: 1;
  transition: 0.3s ease;
  img {
    height: 20px;
    position: relative;
    left: 15px;
  }
}

.nav-links {
  background-color: #b0be9c2b;
  backdrop-filter: blur(92px);
  border-radius: 16px;
  padding: 5px;
  padding-left: 20px;
  display: flex;
  gap: 20px;
  align-items: center;

  a {
    letter-spacing: 0.03em;
    line-height: 130%;
    transition: 0.3s ease;
  }
}

.nav-cta {
  padding: 8px 20px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-x);
  color: var(--color-100);
  transition: 0.3s ease;
}

.color-text-header-hero {
  background-color: transparent;
  backdrop-filter: blur(0px);
  a {
    color: var(--color-100);
    transition: 0.3s ease;
  }

  .nav-cta {
    background-color: var(--color-100);
    transition: 0.3s ease;
    color: var(--color-x);
  }

  .nav-logo {
    opacity: 0;
    transition: 0.3s ease;
  }
}
